.title-auth {
    font-family: "Aftika";
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: #505050;
 }
 
 .subtitle-auth {
    font-family: "Aftika";
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #505050;
 }
 
 .text-footer-auth {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #505050;
 }
 
 .btn-auth {
    width: 60% !important;
    height: 45px !important; 
    border-radius: 45px !important;
 }