@import "src/assets/styles/breakpoints.scss";
@import "src/assets/styles/variables.scss";

$color_1: #63686e;
$color_2: #fff;
$color_3: #4f71ae;
$font-family_1: "Source Sans 3", sans-serif;

.btn-send-container {
  display: flex;
  justify-content: flex-end;
}

.btn-send-documents {
  padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    z-index: 99;
    height: 50px !important;
    border-radius: 12px !important;
    padding: 10px;
    background: #0F0F0F;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;

    mat-icon {
        height: 23px !important;
        width: 23px !important;
    }
}

.documents-necesary-container {
  padding-inline-start: inherit;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.documents-necesary-item {
  font-family: Source Sans 3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.documents-necesary-item::marker {
  color: $base-color;
  font-size: 1.2em;
}

.upload-document-container {
  display: flex;
  gap: 30px;
}

.input-document-container {
  flex: 2;
}

.button-table-container {
  display: flex;
  gap: 5px;
  button {
    cursor: pointer;
  }
  mat-icon {
    color: #4f71ae;
  }
  color: #4f71ae;
}

@include media-down(md) {
  .upload-document-container {
    flex-direction: column;
  }
}

.custom-input-file {
  padding: 2rem;
  text-align: center;
  border: dashed 2px var(--primaryColor);
  color: #3a93be;
  position: relative;
  margin: 0 auto;
  font-size: 50pt;
  cursor: pointer;
  border-radius: 5px;
}

.custom-input-file .input-file {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mat-column-archivo {
  flex: 0 0 500px !important;
}

.mat-column-fechaVigencia {
  flex: 0 0 200px !important;
}

.mat-column-operaciones {
  flex: 0 0 200px !important;
}

.gnp-title-blue {
  font-family: "Questrial" !important;
  color: #002c77;
  font-size: 15px;
  font-weight: bold;
}

.gnp-subtitle-2-2 {
  font-family: "Questrial" !important;
  color: #009de0;
  font-size: 12px;
}

.gnp-subtitle-2-blue {
  font-family: "Questrial" !important;
  color: #002c77;
  font-size: 14px;
}

.gnp-subtitle-2-red {
  font-family: "Questrial" !important;
  color: #f5195b;
  font-size: 14px;
}

.gnp-subtitle-acent-2 {
  font-family: "Questrial" !important;
  color: #009de0;
  font-size: 15px;
}

.gnp-title-3 {
  font-family: "Questrial" !important;
  color: #002c77;
  font-size: 15px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: #fff;
}
.title {
  background: #f3f4f8;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.file_upload_list {
  .file_item {
    display: flex;
    width: 100%;
    padding: 10px;
    //border-bottom: 1px solid #4F71AE;
    //padding: 15px 20px;
  }
}
.file_item {
  .format {
    background: #4f71ae;
    width: calc(100% - 60px);
    border-radius: 10px;
    width: 45px;
    height: 40px;
    line-height: 40px;
    color: $color_2;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
  }
  .file_progress {
    width: 100%;
    font-size: 14px;
    .progress {
      width: 100%;
      height: 4px;
      background: #efefef;
      overflow: hidden;
      border-radius: 5px;
      margin-top: 8px;
      position: relative;
      .inner_progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #58e380;
      }
    }
  }
  .file_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .file_size_wrap {
    display: flex;
    align-items: end;
    .file_size {
      margin-right: 15px;
      color: #4f71ae;
      cursor: pointer;
    }
    .file_close {
      margin-right: 15px;
      color: #4f71ae;
      cursor: pointer;
    }
  }
}
.choose_file {
  label {
    display: block;
    border: 2px dashed #4f71ae;
    padding: 15px;
    width: calc(100% - 60px);
    margin: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
  #choose_file {
    outline: none;
    opacity: 0;
    width: 0;
  }
  span {
    font-size: 14px;
    color: $color_3;
  }
}

.input-document-container {
  // background-color: #F1F6FE;
  padding: 12px;
  border-radius: 10px;
  align-items: center;
  height: 100%;
  width: 100%;
}

.custom-input-file {
  background-color: #f1f6fe;
  padding: 2rem;
  text-align: center;
  border: dashed 2px #002c77;
  color: #002c77;
  position: relative;
  margin: 0 auto;
  font-size: 14pt;
  cursor: pointer;
  border-radius: 5px;
}

.custom-input-file .input-file {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
