<div class="btn-send-container">
  <button [disabled]="lstFiles.length === 0" (click)="click_enviar_documentos()" class="btn-send-documents"
    mat-raised-button color="primary" type="button"> <mat-icon><span class="material-symbols-outlined">
        outgoing_mail
      </span></mat-icon>Enviar documentos</button>
</div>

<mat-accordion *ngFor="let item of configuracion.documento">
  <mat-expansion-panel [expanded]="true" *ngIf="item.categoria === 4">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Documentos de proceso
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="formNewContracts" class="upload-document-container">
      <div class="input-document-container" *ngIf="item.categoria === 4">
        {{item.nombre}}
        <div class="row">
          <div class="custom-input-file col-md-12" 
              (click)="fileInputMultiple.value">
              <input #fileInputMultiple type="file" id="controlUpload" class="input-file"
                  [accept]="extencionesPermitidas"
                  (change)="handleFileInputChange(fileInputMultiple.files, item.documento)" multiple>
              <img src="assets/imgs/folder-open-1.svg" width="100px">
              <h5>Selecciona tus documentos</h5>
          </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <div class="file_upload_list" *ngFor="let archivo of lstFiles">
              <div class="file_item" *ngIf="archivo.documento === item.documento">
                <div class="file_progress">
                  <div class="file_info">
                    <div class="format">
                      <p> {{getmimeType(archivo.file!.name)}}</p>
                    </div>
                    <div class="file_progress">
                      <div class="file_info">
                        <div class="file_name">
                          {{archivo.file!.name}}
                        </div>
                        <div class="file_size_wrap">
                          <div class="file_size">
                            <mat-icon (click)="clik_mostrar(archivo);"> <span class="material-symbols-outlined">
                                visibility
                              </span>
                            </mat-icon>
                          </div>
                          <div class="file_close">
                            <mat-icon class="ms-2 pointer" (click)="clik_remove(archivo);"><span
                                class="material-symbols-outlined">
                                delete
                              </span>
                            </mat-icon>
                          </div>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="inner_progress" style="width: 100%;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-8">
            <mat-form-field appearance="outline" class="w-100 align-middle">
              <mat-label>Clave guia</mat-label>
              <input type="text" placeholder="Clave guia" aria-label="Number" matInput formControlName="claveGuia">
              <mat-error>Clave guia</mat-error>

              <mat-icon matPrefix>donut_small</mat-icon>
            </mat-form-field>
          </div>

        </div>
      </div>

      <!-- <app-allowed-documents
      [listDocumentsAllowed]="getListDocumentsAllowed(item.clave)"
      [document]="item.clave"
    ></app-allowed-documents> -->
    </form>
  </mat-expansion-panel>
</mat-accordion>