@import "src/assets/styles/breakpoints.scss";

.auth-layout-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-image: url("../../../assets/imgs/fondo-auth.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .auth-layout-card{
    background-color: rgba(254,254,254,88%);
    // opacity: 0.88;
    width: 44%;
    border-top-right-radius: 83px;
    border-bottom-right-radius: 83px;
    padding: 51px 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-layout-logo{
    text-align: center;
    height: 58px;
    max-width: 360px ;
  }

  @include media-down(xl){
    .auth-layout-card{
        padding: 40px 80px;
      }

      .auth-layout-logo{
        height: 58px;
        width: 100%;
      }
  }

  @include media-down(sm){
    .auth-layout-container {
        justify-content: center;
        align-items: center;
      }
      .auth-layout-card{
        width: 80%;
        border-radius: 40px;
        padding: 40px 20px;
      }
      .auth-layout-logo{
        height: 58px;
        width: 100%;
        padding: 0 30px;
      }
  }
  @media screen and (max-height:500px) {
    .auth-layout-container {
        height: auto;
    }
  }