<mat-toolbar>
    <div class="header-main-container">
        <div class="header-main-container-left">
            <img class="header-main-logo" src="assets/imgs/logo-asegurado.png" alt="">
            <ul class="header-main-menu">
                <li routerLink="/administration/mis-contratos" class="header-main-menu-item">
                    <mat-icon>
                        <span class="material-symbols-outlined">topic</span>
                    </mat-icon>
                    <span style="margin-top: 2%;">Mis expedientes</span>
                </li>
            </ul>
        </div>
        <div class="header-main-container-right" routerLink="/">
            <mat-icon>
                <span class="material-symbols-outlined">logout</span>
            </mat-icon>Cerrar Sesión
        </div>
    </div>
</mat-toolbar>