<div class="input-document-title">
    <mat-icon><span class="material-symbols-outlined">
        cloud_upload
    </span></mat-icon>
    <h2>{{ title }}</h2>
</div>
<mat-form-field appearance="outline" style="width: 100%;">
    <!-- <mat-label>{{ multiple ? 'Cargar archivos' : 'Cargar archivo' }}</mat-label> -->
    <mat-icon style="cursor: pointer;" mat-icon-button matSuffix (click)="clickIcon(f_input)">
        <span class="material-symbols-outlined">attach_file</span>
    </mat-icon>
    <input placeholder="Cargar archivo*"  type="text" readonly matInput [formControl]="convertToFormControl(_control.control)" />
    <input  type="file" [multiple]="multiple" [accept]="accept" hidden #f_input (change)="handleFileInputChange(f_input.files!)" />
    <!-- <mat-error>this field is required</mat-error> -->
</mat-form-field>
